.close-button {
  float: right;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* App container styling */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Basic styling adjustments */
body,
h2,
h3,
div {
  font-family: "Arial", sans-serif;
}

h2,
h3 {
  color: #fbfbfb;
}

/* Enhance visual hierarchy */
h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #c8c2cc;
}

/* General padding around sections for better spacing */
div {
  margin-bottom: 1rem;
}

/* Styling for the Keycloak initialization message */
div.initializing-keycloak {
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: 2rem;
}

/* Login prompt styling */
div.login-prompt {
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: 2rem;
  font-size: 1.2rem;
}

/* Incorporate table styling from previous advice here */
/* Base table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
form button {
  padding: 0.5em 1em;
  color: #fff;
  background-color: #5c0aa4;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.4s;
  margin: 10px;
}
table button {
  padding: 0.5em 1em;
  color: #fff;
  background-color: #5c0aa4;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.4 s;
  margin: 5px;
}

table button:hover {
  background-color: #3e045d;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5c0aa4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
